@import "tailwindcss";
@import "@heroui/styles";

@layer base {
  * {
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    min-width: 320px;
    min-height: 100%;
    margin: 0;
  }

  body {
    background: var(--color-background);
    color: var(--color-foreground);
  }
}